*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #0F1729;
    color: #B2C4EE;
    height: 100vh;
    align-content: center;
    font-family: 'Poppins', sans-serif;
}
.result-data{
    background-color: #0F1729;
    width: 100%;
    max-width: 540px;
    margin-top: 20px;
    border-radius: 10px;
    height: auto;
    min-height: 20vh;
}
.head-result{
    background-color: #0E1525;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 0 0 ;
    border-bottom: 2px solid #828DF8;
    padding: 0.5em 0;
    
    h2{
        font-size: 1.2em;
    }
}

/* Container or Wrap */
.container{
    width: 100%;
    max-width: 540px;
    background-color: #333A49;
    margin: 0 auto;
    padding: 20px 5px 5px 5px;
    border-radius: 10px;
}

/* Head Section */
.todo-app h1{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.input-form{
    display: flex;
    justify-content: center;
    gap: 5px;
    padding: 0 10px;
}
#input-date::-webkit-calendar-picker-indicator{
    margin-left: 45px;
    filter: invert(0.8);
    cursor: pointer;
}
.input-form input{
    color: #B2C4EE;
    background: #0E1525;
    border-color: #828DF8;
    height: 38px;
    width: 100%;
    /* padding: 8px; */
    border-radius: 5px;
}
.input-form button{
    background-color: #828DF8;
    color: #0E1525;
    font-family: 'Poppins', sans-serif;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
}
.input-form button:hover{
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.25);
}

/* Mid Section */
.function-button{
    margin-top: 17px;
    display: flex;
    justify-content: space-between;
}
.filter-btn{
    background-color: #1D283A;
    color: #B2C4EE;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    padding: 12px 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.filter-btn:hover{
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.25);
}
.delete-btn{
    background-color: #828DF8;
    color: #0F1729;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    padding: 12px 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.delete-btn:hover{
    box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.25);
}

/* Bottom Section */
ul p{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
ul li{
    list-style: none;
    margin: 15px 0;
    cursor: pointer;
    position: relative;
    padding-left: 40px; 
    display: flex;
    align-items: center;
    gap: 10px;
    overflow: hidden; 
    user-select: none;
}
ul li::before{
    content: "";
    position: absolute;
    margin-left: 7px;
    height: 24px;
    width: 24px;
    background-image: url(../assets/uncheck.svg);
    background-size: cover;
    left: 0;      
    top: 50%; 
    transform: translateY(-50%); 
}
ul li.checked{
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(../assets/check.svg);
}
ul li strong{
    position: static;      
    margin-left: auto;     
    height: 28px;
    width: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
ul li strong:hover{
    font-size: larger;
}

/* Footer Copyright Sections */
footer{
    display: flex;
    justify-content: center;
    position: static;
    margin-top: auto;
    user-select: none;
}